/* Big tablet to 1200px (widths smallen than the 1140px row ) */
@media only screen and (max-width: 1200px) {
  .lorem-ipsum p {
    display: none;
  }

  .boxes{
    padding-bottom: 200px;
  }

  .box {
    width: 40%;
  }

  .box1{
    margin-top: 65px;
  }

  .box2 h6{
    margin-bottom: 30px;
  }

  .box2 h2{
    margin-bottom: 30px;
  }

  .box3 h5{
    padding-top: 20px;
  }

  .box4 {
    margin-right: -20px;
  }

  .box3 h6{
    font-size: 80%;
  }

  .box3 h5{
    margin-bottom: none;
  }

  .box4 h6{
    font-size: 80%;
  }

  .box4 #promo{
    margin-bottom: 8px;
  }

  input[type=text] {
    font-size: 16px;
  }

  .box3 .book-now {
    margin-top: -15px;
  }

  .body-header{
    padding-bottom: 50px;
  }

  .btnExpand{
    position: relative;
    top: 10px;

    margin-top: 100px;
    margin-right: 900px;
    margin-left: -100px;
  }

  .spacing2 {
    height: auto;
  }

  footer img{
    padding-bottom: 20px;
  }

  footer .row .pages {
    position: relative;
    text-align: center;
    margin-left: 39%;
    padding-bottom: 20px;
  }

  footer .row .social-links {
    padding-left: 30px;
  }


/* Small tablet to big tablet: from 768px to 1023px */

/* Small phones to small tablets: from 481 to 767 px */


/* Small phones from 0 to 480px */
@media only screen and (max-width: 480px) {

  .header-black i {
    display: inline-block;
    float: right;
    font-size: 80%;
    color: white;
    margin-top: 8px;
  }

  .header-pages .main-nav {
    padding-right: 120px;
    height: 100px;
  }


  .header-pages .main-nav li  {
    /*margin-right: 400px;*/
    /*margin-bottom: 25px;*/
    float: right;
    display: inline-block;
    padding-left: 4px;
    padding-right: 8px;
  }

  .header-pages .main-nav li:last-child  {
    /*margin-right: 400px;*/
    /*margin-bottom: 25px;*/
    float: right;
    display: inline-block;
    margin-left: 70px;
  }



  .header-pages .main-nav li i {
    position: absolute;
    padding-bottom: 60px;
    text-align: center;
    padding-left: 27px;
  }

    .header-pages .main-nav li i:first-child {
      padding-right: 60px;
    }

  .header-pages .main-nav li p {
    position: absolute;
    margin-top: 20px;
    float: none;
    padding-right: 27px;
  }

  .body-header .options {
    padding-top: 30px;
    font-size: 170%;
    padding-bottom: 1px;
  }

  .body-header .options li {
    display: block;
  }

  .body-header .options li #until{
    font-size: 100%;
    color: #080808;
    background-color: #fff;
    position: relative;
    margin-left: -8px;
    bottom: 4px;
  }

  .body-header .options li #date {
    color: red;
    background-color: #fff;
    position: relative;
    left: 16px;
    top: -4px;
    margin-left: -16px;
    font-weight: bold;
  }

  .boxes {
    margin-left: 50px;
    margin-right: -25px;
    position: relative;
    padding-top: 1px;
  }

  .box {
    width: 85%;
    margin-bottom: 20px;
  }

  .boex .box3 ul {
    padding-bottom: 20px;
  }

  .box2 h6{
    margin-bottom: 5px;
  }

  .box2 h2{
    margin-bottom:10px;
  }

  .box3 h6{
    font-size: 80%;
  }

  .box4 h6{
    font-size: 80%;
  }

  .box4 p {
    padding-bottom: 2px;
  }

  .btnExpand{
    left: 130px;
    margin-bottom: 100px;
    margin: 30px auto 140px auto;
  }

  .workday{
    margin: 0 30px;
  }

  footer {
    height: 48%;
  }

  footer img {
    padding-left: 15px;
    padding-bottom: 20px;
  }

  footer li {
    font-size: 16px;
  }

  footer .row .social-links {
    text-align: center;
    margin-right: 23%;
    padding-bottom: 20px;
  }

  footer .row .pages {
    text-align: center;
    margin-left: 20%;
    padding-bottom: 20px;
  }

  footer .copyright .information li {
    display: block;
  }
}
