* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/*  REUSABLE COMPONENTS */
/* --------------------------------------- */

/* --------------------------------------- */
/*  HEADER */
/* --------------------------------------- */
.header-black {
  height: 50px;
  background-color: #080808;
}
.header-pages {
  height: 60px;
  background-color: #F6FBFC;
    text-align: center;
}

.header-pages .main-nav li {
  display: inline-block;
  margin-left: 80px;
  padding: 10px 0;
  color: #cccccc;
  text: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30%;
  padding-bottom: 20px;
}

/*  icon */

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #cccccc;
  font-size: 180%;
  margin-right: 10px;
}

/* Header 2 */

.body-header {
  text-align: center;
}

.body-header .options li {
  display: inline-block;
  margin-left: 3px;
  color: #d0eaef;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30%;
  padding-bottom: 20px;
}

/* Boxes */
.boxes{
  position: relative;
  text-align: center;
  margin-left: 150px;
  padding-top: 50px;
  margin-bottom: 100px;
}

.box {
  width: 20%;
  margin: 5px;
  border: .5px solid rgba(0, 0, 0, .2) round;
  background-color: #F6FBFC;
  font-size: 30px;
  padding-top: 30px;
  list-style-type: none;
  display: inline-block;
}


h2 {
    color: #0198E1;
    padding-bottom: 10px;
}

h5 {
  color: #0198E1;
  padding-bottom: 60px;
}

h6{
  color: #0198E1;
  padding-bottom: 5px;
}

p {
  font-size: 15px;
  color: #cccccc;
}
.box .box2 .book-now {
  background-color: red;
}



.box2 p {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 60%;
}

.box .book-now {
  padding: 20px 0;
  background-color: #0198E1;
  color: #fff;
  position: relative;
  top: 80%;
  margin: 0 auto;
  align-self: flex-end;
}

.box2 .book-now {
  background-color: red;
}

.lorem-ipsum p {
  text-align: center;
  margin: 50px 280px;
}

/* Button */

.button {
	background: #fff;
	border: 2px solid #0198E1;
  align-items: center;
  padding: 10px 30px;
  text-decoration: none;
  text-align: center;
  color: #0198E1;
  font-size: 14px;
  font-weight: 140%;
  position: relative;
  top: 300px;
  right: 580px;
  margin-bottom: 300px;
}

/* FOOTEr */


footer {
  background-color: #080808;
  position : absolute;
  width: 100%;
  height: 20%;
  position: absolute;
  right: 0;
  margin-top: 500px;
  left: 0;
  text-align: center;
}

footer li {
  font-size: 12px;
}

footer .row .pages {
  text-align: center;
  margin-left: 36%;
}

footer .row .social-links {
  text-align: center;
  margin-right: 45%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nac li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.ion-social-facebook .ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
  transition: color 0.2s;
}

.ion-social-facebook:hover {
  color: #3b5998;
}

.ion-social-twitter:hover {
  color: #00aced;
}

.ion-social-googleplus:hover {
  color: #dd4b39;
}

.ion-social-instagram:hover {
  color: #517fa4;
}
