* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 40px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

/* --------------------------------------- */
/*  REUSABLE COMPONENTS */
/* --------------------------------------- */

/* --------------------------------------- */
/*  HEADER */
/* --------------------------------------- */
.header-black {
  height: 50px;
  background-color: #000;
}
.header-pages {
  height: 60px;
  background-color: #F6FBFC;
    text-align: center;
}

.header-pages .main-nav li {
  display: inline-block;
  margin-left: 80px;
  padding: 10px 0;
  color: #cccccc;
  text: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30%;
  padding-bottom: 20px;
}

/*  icon */

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #cccccc;
  font-size: 180%;
  margin-right: 10px;
}

/* Header 2 */

.body-header {
  text-align: center;
}

.body-header .options li {
  display: inline-block;
  margin-left: 3px;
  color: #d0eaef;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30%;
  padding-bottom: 20px;
}

/* Boxes */
.boxes{
  position: relative;
  text-align: center;
}

.box {
  width: 20%;
  height: auto;
  margin: 5px;
  border: .5px solid rgba(0, 0, 0, .2) round;
  background-color: #F6FBFC;
  font-size: 30px;
  padding-top: 90px;
  list-style-type: none;
  display: inline-block;
}


h2 {
    color: #0198E1;
      padding-bottom: 10px;
}

h5 {
  color: #0198E1;
  padding-bottom: 60px;
}

h6{
  color: #0198E1;
  padding-bottom: 5px;
}

p {
  font-size: 15px;
  color: #cccccc;
}

.box .box2 .book-now {
  background-color: red;
}



.box2 p {
  color: red;
  font-family: 'Lato', sans-serif;
  font-size: 60%;
}

.box .book-now {
  padding: 20px 0;
  background-color: #0198E1;
  color: #fff;
}






/* Footer */
/*
footer {
  background-color: #1a1a1a;
  height: 20vh;
}

footer .pages .page-links {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 40%;
  display: inline-block;
  align-items: center;
}

footer .pages .page-links li {
    display: inline-block;
    padding-top: 100px;
    padding-left: 120px;
    margin-left: 30px;
    font-weight: lighter;

}*/
